/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/* ==========================================================================
   User Styles import fromt scss files
   ========================================================================== */
.big-container {
  width: 1357px;
  margin-left: auto;
  margin-right: auto; }

.medium-container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto; }

.small-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.header {
  background-color: #eaeaea; }
  .header__navigation {
    min-height: 86px;
    background-image: url("../img/pip-logo.png");
    background-repeat: no-repeat; }

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  margin-right: 31px;
  padding: 0; }
  .navigation__item {
    padding-top: 24px;
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    color: #000000; }
    .navigation__item a {
      color: #000000; }
    .navigation__item--active, .navigation__item--active > a {
      color: #4160a7;
      font-weight: bold; }
  .navigation__item + .navigation__item {
    margin-left: 26px; }

.hero-banner {
  background-image: url("../img/header-background.jpg");
  background-color: #000000;
  height: 1182px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center; }
  .hero-banner__up {
    background-color: rgba(0, 0, 0, 0.6); }
  .hero-banner__header {
    font-size: 54px;
    padding-top: 187px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-family: "Lato", sans-serif; }
  .hero-banner__subheader {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    margin-top: 3px;
    margin-bottom: 44px; }
  .hero-banner__button {
    font-size: 27px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #4160a7;
    text-transform: uppercase;
    border: none;
    padding: 14px 48px 14px 26px;
    border-radius: 7px; }
  .hero-banner__register-form {
    margin-top: 163px; }
  .hero-banner .hero-banner__bottom-text {
    color: #0c0a15;
    text-transform: uppercase;
    margin-top: 79px;
    margin-bottom: auto;
    text-align: left;
    margin-left: 146px;
    font-family: "Lato", sans-serif;
    font-size: 52px;
    font-style: italic; }

.register-form {
  text-transform: uppercase;
  background-color: #4160a7; }
  .register-form .register-form_container {
    display: flex;
    flex-direction: row;
    padding-top: 24px;
    padding-bottom: 31px; }
  .register-form__header {
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 47px;
    text-transform: uppercase;
    margin-left: 52px;
    font-style: italic; }
  .register-form__form {
    width: 61%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .register-form__input {
    border-radius: 8px;
    height: 49px;
    padding-left: 22px;
    font-size: 23px; }
    .register-form__input--name, .register-form__input--email {
      width: 276px;
      margin-right: 22px; }
    .register-form__input--phone {
      width: 397px;
      margin-right: 47px;
      margin-top: 25px; }
  .register-form__button {
    border-radius: 8px;
    height: 54px;
    width: 132px;
    margin-top: auto;
    background-color: #000000;
    color: white;
    font-size: 21px;
    border: none;
    text-transform: uppercase; }

.boxes {
  background-color: #fefefe;
  background-image: url("../img/boxes-background-transparent.png");
  height: 750px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 80px;
  align-items: stretch; }
  .boxes__box {
    width: 322px;
    padding: 90px 30px 95px;
    border: 2px solid;
    border-color: #fcfcfc;
    border-radius: 10px;
    min-height: 516px;
    box-shadow: 7px 8px 48px -4px rgba(0, 0, 0, 0.34);
    background-color: white;
    position: relative;
    flex-grow: 1; }
    .boxes__box:nth-child(2) {
      top: -50px; }
    .boxes__box:nth-child(3) {
      top: -100px; }
    .boxes__box:nth-child(4) {
      top: -150px; }
    .boxes__box__header {
      font-size: 23px;
      font-weight: bold;
      letter-spacing: 2px;
      padding-bottom: 16px; }
    .boxes__box__content {
      font-size: 21px; }
    .boxes__box--transparent-top {
      border: 3px solid #ebf8f9;
      position: relative;
      z-index: 99;
      background: none;
      /* background-image: linear-gradient(rgba(0,0,0,0), red); */
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 19%); }

/*# sourceMappingURL=maps/main.css.map */
