/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/* ==========================================================================
   User Styles import fromt scss files
   ========================================================================== */
.big-container {
  width: 1357px;
  margin-left: auto;
  margin-right: auto; }

.medium-container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto; }

.small-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.header {
  background-color: #eaeaea; }
  .header__navigation {
    min-height: 86px;
    background-image: url("../img/pip-logo.png");
    background-repeat: no-repeat; }

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  margin-right: 31px;
  padding: 0; }
  .navigation__item {
    padding-top: 24px;
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    color: #000000; }
    .navigation__item a {
      color: #000000; }
    .navigation__item--active, .navigation__item--active > a {
      color: #4160a7;
      font-weight: bold; }
  .navigation__item + .navigation__item {
    margin-left: 26px; }

.hero-banner {
  background-image: url("../img/header-background.jpg");
  background-color: #000000;
  height: 1182px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center; }
  .hero-banner__up {
    background-color: rgba(0, 0, 0, 0.6); }
  .hero-banner__header {
    font-size: 54px;
    padding-top: 187px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-family: "Lato", sans-serif; }
  .hero-banner__subheader {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    margin-top: 3px;
    margin-bottom: 44px; }
  .hero-banner__button {
    font-size: 27px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #4160a7;
    text-transform: uppercase;
    border: none;
    padding: 14px 48px 14px 26px;
    border-radius: 7px; }
  .hero-banner__register-form {
    margin-top: 163px; }
  .hero-banner .hero-banner__bottom-text {
    color: #0c0a15;
    text-transform: uppercase;
    margin-top: 79px;
    margin-bottom: auto;
    text-align: left;
    margin-left: 146px;
    font-family: "Lato", sans-serif;
    font-size: 52px;
    font-style: italic; }

.register-form {
  text-transform: uppercase;
  background-color: #4160a7; }
  .register-form .register-form_container {
    display: flex;
    flex-direction: row;
    padding-top: 24px;
    padding-bottom: 31px; }
  .register-form__header {
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 47px;
    text-transform: uppercase;
    margin-left: 52px;
    font-style: italic; }
  .register-form__form {
    width: 61%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .register-form__input {
    border-radius: 8px;
    height: 49px;
    padding-left: 22px;
    font-size: 23px; }
    .register-form__input--name, .register-form__input--email {
      width: 276px;
      margin-right: 22px; }
    .register-form__input--phone {
      width: 397px;
      margin-right: 47px;
      margin-top: 25px; }
  .register-form__button {
    border-radius: 8px;
    height: 54px;
    width: 132px;
    margin-top: auto;
    background-color: #000000;
    color: white;
    font-size: 21px;
    border: none;
    text-transform: uppercase; }

.boxes {
  background-color: #fefefe;
  background-image: url(../img/boxes-background-transparent.png);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 80px 0 120px;
  align-items: stretch; }
  .boxes__box {
    width: 322px;
    padding: 90px 30px 95px;
    border: 2px solid;
    border-color: #fcfcfc;
    border-radius: 10px;
    min-height: 516px;
    box-shadow: 7px 8px 48px -4px rgba(0, 0, 0, 0.34);
    background-color: #ffffff;
    position: relative;
    flex-grow: 1; }
    .boxes__box:nth-child(2) {
      top: -50px; }
    .boxes__box:nth-child(3) {
      top: -100px; }
    .boxes__box:nth-child(4) {
      top: -150px; }
    .boxes__box__header {
      font-size: 23px;
      font-weight: bold;
      letter-spacing: 2px;
      padding-bottom: 16px; }
    .boxes__box__content {
      font-size: 21px; }
    .boxes__box--transparent-top {
      border: 3px solid #ebf8f9;
      position: relative;
      z-index: 99;
      background: none;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 19%); }

.slider-box {
  padding: 28px 0 181px;
  background-color: #f5f5f5; }
  .slider-box--header {
    font-size: 47px;
    margin-left: 33px;
    font-family: "Lato", sans-serif; }
  .slider-box--subheader {
    font-size: 32px;
    text-transform: uppercase;
    margin-left: 37px;
    margin-top: 9px;
    font-style: italic; }
  .slider-box__element {
    text-align: center;
    font-size: 26px;
    text-transform: uppercase; }
    .slider-box__element__icon {
      height: 116px;
      width: 116px;
      border-radius: 110px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0 0 0 10px #4260a8, 0 0 0 20px #8194be, 0 0 0 30px #adb8d4;
      margin-top: 34px;
      line-height: 123px;
      font-size: 55px;
      text-indent: -5px;
      color: #4260a8; }
      .slider-box__element__icon--education {
        background-image: url(../img/book-icon.png);
        background-size: 71px;
        background-repeat: no-repeat;
        background-position: center; }
    .slider-box__element__text {
      margin-top: 63px; }

.carousel-slider {
  margin-left: auto;
  margin-right: auto;
  width: 1154px;
  margin-top: 76px; }

.slick-slide {
  width: 278px; }

.slick-prev, .slick-next {
  top: 36%; }

.slick-prev {
  left: -41px; }

.slick-next {
  right: -6px; }

.slick-prev:before, .slick-next:before {
  color: #d8d8d8;
  font-family: "Font Awesome 5 Pro";
  font-size: 55px; }

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .footer__column {
    flex: 1 0 25%; }
    .footer__column__header {
      margin-top: 49px;
      font-size: 30px;
      text-indent: 24px;
      font-family: "Lato", sans-serif; }
      .footer__column__header--explore-link {
        text-indent: 50px;
        margin-bottom: 42px; }
      .footer__column__header--latest-post {
        margin-bottom: 41px;
        text-indent: 0; }
      .footer__column__header--contact-us {
        margin-bottom: 36px; }
  .footer__last-line {
    flex: auto;
    flex-grow: 1;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 52px; }

.about-us__icon {
  margin-bottom: 25px; }

.explore-link {
  font-size: 19px;
  text-indent: 10px; }
  .explore-link__outside_link {
    list-style: none;
    margin-bottom: 7px;
    cursor: pointer; }
    .explore-link__outside_link:before {
      content: "\23F5";
      margin-right: 25px; }
  .explore-link__inside-link {
    display: none;
    list-style: none; }
    .explore-link__inside-link > * {
      margin-top: 5px; }

.latest-post > ul {
  padding-left: 0; }

.latest-post__post {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 31px; }
  .latest-post__post__date {
    border: 1px solid #000000;
    border-radius: 73px;
    width: 60px;
    height: 52px;
    text-align: center;
    font-size: 21px;
    line-height: 28px;
    padding-top: 3px; }
    .latest-post__post__date__month {
      font-size: 15px;
      line-height: 14px; }
  .latest-post__post__text {
    margin-left: 18px;
    align-self: center;
    line-height: 23px; }

.contact-us {
  padding-left: 21px;
  list-style: none;
  font-size: 18px; }
  .contact-us__item {
    display: flex; }
    .contact-us__item:nth-child(1) {
      margin-bottom: 30px; }
    .contact-us__item__icon {
      margin-right: 31px;
      margin-bottom: 38px;
      font-size: 21px; }
    .contact-us__item__text {
      max-width: 167px; }
      .contact-us__item__text--date {
        max-width: initial; }

.footer__copyright {
  font-size: 19px;
  text-indent: 22px;
  letter-spacing: 1px;
  font-style: italic; }

.footer__contact-icons {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-right: 25px;
  padding-left: 0;
  padding-top: 11px; }

.footer__contact-icons_icon--facebook {
  color: #ee6a22; }

/*# sourceMappingURL=maps/main.css.map */
