.boxes {
  background-color: $background-color-3;
  background-image: url(../img/boxes-background-transparent.png);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 80px 0 120px;
  align-items: stretch;
  @media (min-width: 1200px) {
    flex-direction: row;
  }
  &__box {
    padding: 90px 30px 95px;
    border: 2px solid;
    border-color: $border-color-1;
    border-radius: 10px;
    box-shadow: 7px 8px 48px -4px rgba(0,0,0,0.34);
    background-color: $background-color-2;
    position: relative;
    flex-grow: 1;
//    @media (max-width: 720px) and (max-width: 1319px) {
//      width: 25%;
//    }
    @media (min-width: 1320px) {
      width: 322px;
      min-height: 516px;
      &:nth-child(2) {
        top: -50px;
      }
      &:nth-child(3) {
        top: -100px;
      }
      &:nth-child(4) {
        top: -150px;
      }
    }

   &__header {
      font-size: 23px;
      font-weight: bold;
      letter-spacing: 2px;
      padding-bottom: 16px;
    }
    &__content {
      font-size: 21px;
    }
    @media (min-width: 1200px) {
      &--transparent-top {
        border: 3px solid $border-color-2;
        position: relative;
        z-index: 99;
        background: none;
        background-image: linear-gradient(to bottom, rgba($background-color-2, 0) 0%, white 19%);
      }
    }
  }
}