.boxes {
  background-color: #fefefe;
  background-image: url('../img/boxes-background-transparent.png');
  height: 750px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 80px;
  &__box {
    width: 322px;
    padding: 100px 30px 95px;
    border: 2px solid;
    border-color: #fcfcfc;
    border-radius: 10px;
    height: min-content;
    min-height: 516px;
    box-shadow: 7px 8px 48px -4px rgba(0,0,0,0.34);
    background-color: rgb(255,255,255);
    position: relative;
     &:nth-child(2) {
      top: -55px;
    }
     &:nth-child(3) {
      top: -110px;
    }
     &:nth-child(4) {
      top: -165px;
    }
   &__header {
      font-size: 23px;
      font-weight: bold;
      letter-spacing: 2px;
      padding-bottom: 16px;
    }
    &__content {
      font-size: 21px;
    }
  }
}