@import "menu-toggle";

.header {
  background-color: #eaeaea;
  &__navigation {
    min-height: 86px;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  margin-right: 31px;
  padding: 0;
  min-height: 86px;

  @media (min-width: 720px) {
    flex-direction: row;
  }
  @media (min-width: 960px) {
    background-image: url('../img/pip-logo.png');
    background-repeat: no-repeat;
  }
  &__item {
    padding-top: 24px;
    font-size: 26px;
    font-family: $main-font;
    color: $font-color-main;
    & a {
      color: $font-color-main;
    }
    &--active, &--active > a {
      color: $emphasis-color;
      font-weight: bold;
    }
  }

  &__item + &__item {
    margin-left: 26px;
  }
}

.hero-banner {
  // background
  background-image: url('../img/header-background.jpg');
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 1200px) {
    height: 1182px;
  }
  // text
  color: white;
  text-align: center;
  &__up {
    background-color: rgba(0, 0, 0, 0.6);
  }
  &__header {
    font-size: 26px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-family: $header-font;
    @media (min-width: 720px) {
      font-size: 54px;
      padding-top: 187px;
    }
  }
  &__subheader {
    font-size: 22px;
    font-family: $main-font;
    margin-top: 3px;
    margin-bottom: 44px;
    @media (min-width: 720px) {
      font-size: 36px;
    }
  }
  &__button {
    font-size: 27px;
    font-family: $button-font;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: $emphasis-color;
    text-transform: uppercase;
    border: none;
    padding: 14px 48px 14px 26px;
    border-radius: 7px;
  }
  &__register-form {
    margin-top: 163px;
  }

  .hero-banner__bottom-text {
    color: #0c0a15;
    text-transform: uppercase;
    margin: 10px;
    text-align: center;
    font-family: $second-font;
    font-size: 20px;
    font-style: italic;
    @media (min-width: 720px) {
      margin-top: 79px;
      font-size: 52px;
      text-align: left;
      margin-left: 146px;
      margin-top: 20px;
      margin-bottom: auto;
    }
  }
}

.register-form {
  text-transform: uppercase;
  background-color: $background-color-1;

  .register-form_container {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 31px;
    @media (min-width: 1200px) {
      flex-direction: row;
    }
  }
  &__header {
    margin-bottom: 15px;
    font-size: 30px;
    text-transform: uppercase;
    font-style: italic;
    @media (min-width: 1200px) {
      margin-top: auto;
      margin-bottom: auto;
      font-size: 47px;
      margin-left: 52px;
      width: 40%;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    @media (min-width: 1200px) {
      flex-direction: row;
      width: 61%;
    }
  }
  &__input {
    border-radius: 8px;
    height: 49px;
    padding-left: 22px;
    font-size: 23px;
    width: 276px;
    margin-bottom: 10px;
    @media (min-width: 1200px) {
      &--name, &--email {
        margin-right: 22px;
      }
      &--phone {
        width: 397px;
        margin-right: 47px;
        margin-top: 25px;
      }
    }
  }
  &__button {
    border-radius: 8px;
    height: 54px;
    width: 132px;
    margin-top: auto;
    background-color: #000000;
    color: white;
    font-size: 21px;
    border: none;
    text-transform: uppercase;
  }
}
