
.header {
  background-color: #eaeaea;
  &__navigation {
    min-height: 86px;
    background-image: url('../img/pip-logo.png');
    background-repeat: no-repeat;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  margin-right: 31px;
  padding: 0;

  &__item {
    padding-top: 24px;
    font-size: 26px;
    font-family: $main-font;
    color: $font-color-main;
    & a {
      color: $font-color-main;
    }
    &--active, &--active > a {
      color: $emphasis-color;
      font-weight: bold;
    }
  }

  &__item + &__item {
    margin-left: 26px;
  }
}

.hero-banner {
  // background
  background-image: url('../img/header-background.jpg');
  background-color: #000000;
  height: 678px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  // text
  color: white;
  text-align: center;

  &__header {
    font-size: 54px;
    padding-top: 187px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-family: $header-font;
  }
  &__subheader {
    font-size: 36px;
    font-family: $main-font;
    margin-top: 3px;
    margin-bottom: 44px;
  }
  &__button {
    font-size: 27px;
    font-family: $button-font;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: $emphasis-color;
    text-transform: uppercase;
    border: none;
    padding: 14px 48px 14px 26px;
    border-radius: 7px;
  }
}
