.slider-box {
  padding: 28px 0 181px;
  background-color: $background-color-4;
  &--header {
    font-size: 47px;
    margin-left: 33px;
    font-family: $header-font;
  }
  &--subheader {
    font-size: 32px;
    text-transform: uppercase;
    margin-left: 37px;
    margin-top: 9px;
    font-style: italic;
  }
  &__element {
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    &__icon {
      height: 116px;
      width: 116px;
      border-radius: 110px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0 0 0 10px #4260a8, 0 0 0 20px #8194be, 0 0 0 30px #adb8d4;
      margin-top: 34px;
      line-height: 123px;
      font-size: 55px;
      text-indent: -5px;
      color: #4260a8;
      &--education {
        background-image: url(../img/book-icon.png);
        background-size: 71px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    &__text {
      margin-top: 63px;
    }
  }
}

.carousel-slider {
  margin-left: auto;
  margin-right: auto;
  width: 1154px;
  margin-top: 76px;
}

.slick-slide {
  width: 278px;
}

.slick-prev, .slick-next {
  top: 36%;
}
.slick-prev {
  left: -41px;
}

.slick-next {
  right: -6px;
}

.slick-prev:before, .slick-next:before {
  color: #d8d8d8;
  font-family: "Font Awesome 5 Pro";
  font-size: 55px;
}

